html,body{
padding:0;
margin:0;
 width:100%;
height: auto;
background-color:#000

}

.motwin{
 background:rgba(255,255,255,0.9);
 width:80vw;
 height:80vh;
 position:fixed;
 top:10vh;
 left:10vw;
 z-index:200;
}

.motwin p{
 text-align:center;
}

.motwin #eng{
 font-size:3.3vh;
 padding:0 2vw;
 font-weight:bold;
}

.motwin #jap{
 font-family:"Yu Gothic UI";
 font-size:4vh;
 padding:0 2vw;
 font-weight:bold;
}

.motwin #close{
 position:absolute;
 background:rgba(255,0,0,0.9);
 font-size:3vh;
 width:18vh;
 height:6vh;
 vertical-align:middle;
 color: #fff;
 bottom:5vh;
 right:0;
 left:0;
 margin:auto;

}

.motwin #close:hover{
 cursor:pointer;
}

#title1{
 color:#fff;
 font-size:45px;
 padding:0;
 margin:0;
 position:fixed;
 z-index: 16;
 top:0;
}

#title1 img{
 margin:0;
 padding:0;
 opacity:0.7;
}


.head{
 position:fixed;
 height:50px;
 width:100%;
 z-index:20;
}

/*ハンバーガーメニューのところ*/

.menu-trigger1,
.menu-trigger1 span{
 display: inline-block;
 transition: all .4s;
 box-sizing:border-box;
 z-index: 15;
}

.menu-trigger1{
 margin-top:5px;
 position:fixed;
 right:0;
 width:60px;
 height: 30px;
 cursor: pointer;
}
.menu-trigger1 span{
 position: absolute;
 right:9px;
 width:60%;
 height: 3.5px;
 background-color: #fff;
 border-radius:4px;
 z-index: 15;
}


.menu-trigger1 span:nth-of-type(1){
 top:5px;
}
.menu-trigger1 span:nth-of-type(2){
 top:17px;
}
.menu-trigger1 span:nth-of-type(3){
 top:29px;
}

.menu-trigger1.active span:nth-of-type(1) {
 -webkit-transform: translateY(12px) rotate(-45deg);
 transform: translateY(12px) rotate(-45deg);
}
.menu-trigger1.active span:nth-of-type(2) {
 opacity: 0;
}
.menu-trigger1.active span:nth-of-type(3) {
 -webkit-transform: translateY(-12px) rotate(45deg);
 transform: translateY(-12px) rotate(45deg);
}
.box {
 position: fixed;
 width:100%;
 margin-left:100vw;
 background:rgba(60,60,60,0.7);
 z-index:1;
 height:100%;
}

.box_back {
 margin-top:80px;
 list-style-type: none;
 text-align: center;
 padding:0;
 margin-bottom:0;
 color: #fff;
}

.box_back li {
 line-height:3em;
 font-size:15px;
 background-color: #000;
 margin:10px 0px 20px 20px;
 margin-right:20px;
}

.box_back li a{
 display:block;
 width:100%;
 text-decoration:none;
 color:#fff;
}
.show{
 -webkit-transform: translate3d(-100vw,0,0);
 -moz-transform: translate3d(-100vw,0,0);
 -ms-transform: translate3d(-100vw,0,0);
 -o-transform: translate3d(-100vw,0,0);
 transform: translate3d(-100vw,0,0);
 -webkit-transition: all .5s ease-in;
 transition: all .5s ease-in;
}

.box_back li:hover{
 background-color:#fbb;
 transition:0.7s;
}

.box_back nav{
 text-align:center;
}

.expla{
background-image:url("tsukuba.jpg");
height:100vh;
background-repeat:no-repeat;
background-size:cover;
padding:0;
 width:100%;
 position:relative;
}
@media screen and (max-width: 700px) {/*画面小さいとき*/
 .topic {
  font-size: 2.2rem;
  height: 11rem;
  margin: auto;
  font-family: serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 11rem;
  text-align: center;
 }

 .vision {
  color: #000;
  margin:auto;
  height:11rem;
  font-family:"Yu Gothic";
  line-height: 2.3rem;
  font-size: 1.6rem;
  position: absolute;
  font-weight: bold;
  left:0;
  top:60vh;
  right:0;
  bottom:0;
  text-align: center;

 }
}
@media screen and (min-width: 700px){
 .topic {
 font-size:3.5rem;
 height: 11rem;
 margin: auto;
 font-family: serif;
 font-weight: bold;
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 line-height: 11rem;
 text-align: center;
}

.vision {
 color: #000;
 margin: auto;
 height: 11rem;
 font-family: "Yu Gothic";
 line-height: 3.6rem;
 font-size: 2.2rem;
 position: absolute;
 font-weight: bold;
 left: 0;
 top: 65vh;
 right: 0;
 bottom: 0;
 text-align: center;
}
}

.touka{
height:100%;
background:rgba(255,255,255,0.5);
}

#img{
 position:absolute;
 display: inline;
 vertical-align:bottom;
 right:0;
 bottom:0;
 opacity:0.6;
}


#content{
 position:relative;
 top:30px;
 width:100%;
 font-weight:lighter;
}

.wander{
 display:block;
 width:60vw;
 height:40vw;
 margin : auto;
}

#content h2{
 font-weight:lighter;
font-size:30px;
font-family:"Yu Gothic UI";
text-align:left;
 margin-left:1em;
border-bottom:solid 1px #fff;
 z-index:1;
 color:#fff;
 margin-top:100px;
}

#content p{
 font-weight:lighter;
 line-height:3em;
color:#fff;
text-align:center;
font-family:"Yu Gothic UI";
    margin:0 5vw;
}


#content ul{
text-align:center;
}

#content ul li{
padding:10px;
display: inline;

}

#content a{
 color:#fff;
 text-decoration:none;
}

#content a:hover{
 color:#ee1111;
}

#information{
    width:40vw;
    height:33vw;
    margin-top:5vh;
    margin-left:5vw;
}

#purposesen{
    position:absolute;
    right:2.5vw;
    top:2vh;
    font-family:"Yu Gothic UI";
    font-weight: lighter;
    text-align:center;
    height:33vw;
    width:50vw;
    /*margin-top:5vh;*/
    color:#fff;
    /*margin-right:5vw;*/
}

#purposesen h3{
    color:#ee1111;
    font-size:2.5vw;
    line-height:18px;
}

@media screen and (max-width: 450px) {/*画面小さいとき*/
 #purposesen p {
  font-size: 2.2vw;
  line-height: 30px;
 }
}

@media screen and (min-width: 450px) {
 #purposesen p {
  font-size: 2.2vw;
  line-height: 8vw;
 }
}


@media screen and (max-width: 550px) {
 .box2{
  position:relative;
  width:100%;
  height:130vw;
 }

 /*画面小さいとき*/

 #box3{
  display:block;
  position:absolute;
  left:0;
  right:0;
  top:40vw;
  font-size:3em;

 }

 #box4{
  color:#fff;
  position:absolute;
  text-align: center;
  left:0;
  right:0;
  top:70vw;
  font-family: "Yu Gothic UI";
  font-size:2.2vw;
  line-height:7vw;
  height:auto;
  margin:0 5vw;
 }

}
@media screen and (min-width: 550px) {
 .box2{
  position:relative;
  width:100%;
  height:120vw;
 }

 #box3 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 40vw;
  font-size: 3em;
 }

 #box4{
  color:#fff;
  position:absolute;
  text-align: center;
  left:0;
  right:0;
  top:55vw;
  font-family: "Yu Gothic UI";
  font-size:2.2vw;
  line-height:7vw;
  height:auto;
  margin:0 5vw;
 }
}



#planwrap dl{
 color:#fff;
 font-family:"Yu Gothic UI";
 /*margin-left:10vw;*/
 list-style-type:none;
}


#planwrap li{
 margin-top:10vh;
 margin-left:10vh;
}

.wander2{
 display:block;
 width:60vw;
 height:40vw;
 margin : 5vh auto;
}